<h2>System Admin Interface</h2>
<p><%= link_to 'Create new instance', instance_manager.new_instance_path %></p>
<p><%= link_to 'Add system admin user', instance_manager.new_private_user_registration_path %></p>
